<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>About Website</title>
    </head>
    <body>
        {{> header}}
        <p>About this Website</p>
        {{> footer}}
    </body>
</html>